@model MultiViewExample.Models.UserDTO

<div style="border:1px solid gray; padding:15px; margin-bottom:20px;">
    <h3>User Details</h3>

    <p><b>Name:</b> @Model.Name</p>
    <p><b>Email:</b> @Model.Email</p>
</div>